<section class="philosophy">
  <div class="container">
    <div class="col-xs-12 text-center">
      <div class="top-section">
        <h5>Philosophy</h5>
        <div class="dash"></div>
        <div class="main-heading">
          <h1>The Afrologyx can be described with the following words;  </h1>
          <p>Chic, Classy, Upscale, fashionable, Affluent, Afrocentric, culture</p>
          <button class="btn btn-default btn-custom-short">JOIN THE CLUB</button>
        </div>
      </div>
    </div>
  </div>
</section>