.header {
    position: relative;
    padding-top: 30px;
    background: transparent;
    height: 77px;
}

.header-mobile {
    padding-top: 30px;
    background:transparent;
    height: 280px;
    text-align: center;
}

.header-mobile ul {
    padding-left: 0px!important;
}

.header ul {
    padding-left: 19px!important;
}

.header-mobile  li{
    list-style: none;
    margin-bottom: 10px;
}

.header-mobile a{

    font-family: Poppins-SemiBold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.44px;
}

.hamberger {
    position: absolute;
    top:0;
}

.header a{
    font-family: Poppins-SemiBold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.44px;

    text-align: center;
}
.header li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}
.nav {
    padding-right: 0px!important;
    width: 50%;
    display: inline-block;
}
