<section class="header hidden-xs">
  <div class="hamberger">
    
  </div>
  <header claass="nav-bar">
     <div class="container text-left">
       <div class="nav">
         <ul>
           <li><a routerLink="/"><img src="../../../assets/images/afrology-logo.png" alt=""></a></li>
           <li><a routerLink="/discover/events/go">DIRECTORY</a></li>
           <li><a routerLink="/discover/events/go">PROMOTIONS</a></li>
           <li><a routerLink="/discover/events/go">WHAT'S HAPPENING</a></li>
           <li><a routerLink="/perks/do">MEMBER PERKS</a></li>
           <li><a routerLink="/faq/go">FAQs</a></li> 
           
         </ul>

       </div>

       <div class="nav-right text-right">
         <ul>
            <li ><a (click)="logout()">Logout</a></li>
            <li class=""><a routerLink="/login/action">Member Login</a></li>
         </ul>
       </div>
     </div>
  </header>
</section>


<section class="header-mobile visible-xs">
    <div class="container text-center">
        <div class="nav">
          <ul>
            <li><img src="../../../assets/images/afrology-logo.png" alt=""><span><sup>TM</sup></span></li>
            <li><a routerLink="/discover/events/go">DISCOVER EVENTS</a></li>
            <li><a routerLink="/faq/go">FAQs</a></li>
            <li class=""><a routerLink="/login/action">Member Login</a></li>
          </ul>
 
        </div>
      </div>
</section>