<section class="monthly-card">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-1">
            <h4>Monthly</h4>
          </div>
          <div class="col-md-11">
            <div class="border-line"></div>
          </div>
        </div>
        <div class="card-item" style="background-image: url('../../../assets/images/4cc49718860183.563003b1ba804.jpg');">
            <div class="row">
              
              <div class="col-xs-6 col-md-6 button-holder">
                <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                      <button class="btn">Attend</button>
                  </div>
                </div>
              </div>

              <div class="col-xs-6 col-md-6">
                <div class="event-content text-right">
                  <h2>Afrology</h2>
                  <div class="footer-content">
                    <h5>Feb 24th 2019</h5>
                    <p>Paladium Nightclub, Dallas, TX</p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>