<section class="event-flyers text-centerw">
  <div class="container text-centers">
    <div class="row">
      <div class="com-md-12 heading-holder">
        <p class="heading-a1">
            UPCOMING EVENTS
        </p>

        <p class="heading-a2">
            RSVP for our upcoming events
        </p>
      </div>

      <div class="col-md-6 col-xs-12 col-sm-12 text-center card-item text-rights">
        <div class="img-holder text-center">
            <img class="hidden-xs" src="../../../assets/images/flyer1.png" alt="">
            <img class="img-responsive visible-xs" src="../../../assets/images/flyer1.png" alt="">
        </div>
        <div class="promoter hidden-xs"><p>PRESENTED BY ATEAM</p></div>
        <div class="btn-holder">
            <div class="btn btn-default">BUY TICKETS</div>
        </div>
      </div>

      <div class="col-md-6 col-xs-12 col-sm-12 text-center card-item text-rights">
          <div class="img-holder text-center">
              <img class="hidden-xs" src="../../../assets/images/flyer1.png" alt="">
              <img class="img-responsive visible-xs" src="../../../assets/images/flyer1.png" alt="">
          </div>
          <div class="promoter hidden-xs"><p>PRESENTED BY ATEAM</p></div>
          <div class="btn-holder">
              <div class="btn btn-default">BUY TICKETS</div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12 col-sm-12 text-center card-item text-rights">
            <div class="img-holder text-center">
                <img class="hidden-xs" src="../../../assets/images/flyer1.png" alt="">
                <img class="img-responsive visible-xs" src="../../../assets/images/flyer1.png" alt="">
            </div>
            <div class="promoter hidden-xs"><p>PRESENTED BY ATEAM</p></div>
            <div class="btn-holder">
                <div class="btn btn-default">BUY TICKETS</div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12 col-sm-12 text-center card-item text-rights">
              <div class="img-holder text-center">
                  <img class="hidden-xs" src="../../../assets/images/flyer1.png" alt="">
                  <img class="img-responsive visible-xs" src="../../../assets/images/flyer1.png" alt="">
              </div>
              <div class="promoter hidden-xs"><p>PRESENTED BY ATEAM</p></div>
              <div class="btn-holder">
                  <div class="btn btn-default">BUY TICKETS</div>
              </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="container text-center">
                    <hr>
                    <div class="btn btn-default">View All</div>
                </div>
            </div>
        </div>

     

      
    </div>
  </div>
</section>



