<section class="perks">

 <div class="perks-wrapper">
   <div class="container">
     <div class="row">
       <div class="col-xs-12 col-md-6">
         <h1>Afrologyx Member 
            Perks</h1>
            <p>Not only do our members get to attend the most upscale events in town, but we also partner up with other organizations to bring you significant deals and discounts. </p>
            
            <div class="disclaimer">WE DO NOT GUARANTEE ANY DEALS OR DISCOUNTS LISTED ON OUR PLATFORM, ORGANIZATIONS ARE SOLELY RESPONSIBLE FOR THE OFFERS TO POST. WE SIMPLE PROVIDE A PLATFORM FOR LISTING.</div>
          
            <h2>Afrologyx Monthly Event</h2>

            <p>All our member are added to our exclusive list through which we provide details of all the upcoming events we organize. As a member, you will have access to venue locations and exclusive details.</p>
          
            <h2>Afrologyx Personal/Business growth Events</h2>

            <p>Every so often, we organize entrepreneur networking event to fuster personal and business growth within our community, our members have access to all of our networking and talk events</p>


            <h2>Exclusive Business Offers</h2>

            <p>We partner with local businesses to bring you the best deals and discounts, as a member you have access to all deals that are available on our website and mobile app.</p>


            <div class="heading-a1">
                We are continuously reaching out to local businesses with the goal of bringing our members the best perks to fit their lifestyle. Here is a list of categories we aim to fulfill.
            </div>

            <div id="perk-cats" class="row">
              <div *ngFor="let perk of perkCats" class="col-md-6">
                <div class="item">
                  {{perk.name}}
                </div>
              </div>
            </div>

          </div>

          <div class="col-xs-12 col-md-6">
            <div class="card-holder text-center">
                <img src="../../../assets/images/Afrology-card.png" alt="">
            </div>
            <div class="cta-box">
              <div class="cta-content text-center">
                <div class="md-line"></div>
                <h3>500+ DFW Afrologians are already plugin
                    we are reserving your spot!</h3>

                    <p>Your Exclusive Membership awaits, Register today and join our community of  Makers.</p>
                    <button class="btn-cta">JOIN AFROLOGYX</button>
              </div>
            </div>
          </div>
     </div>
   </div>
 </div>

</section>