<section class="other-events">
  <div class="container">
    <div class="row">
        <div class="col-md-1">
            <h4>Other</h4>
          </div>
          <div class="col-md-11">
            <div class="border-line"></div>
          </div>
    </div>

    <div class="row">
      <div class="col-md-8 left-items">
        <div class="row">
          <!--Item-Start-->
          <div class="col-md-12">
            <div class="event-item">
              <div class="row">
                  <div class="col-md-4">
                     <div class="img-holder text-right padding-a1" style="background-image: url(../../../assets/images/b61055da902434010fa1fb04baaee7f0.jpg)">
                        <div class="wht-box-top">Selling Fast</div>
                     </div>
                  </div>
                  <div class="col-md-8 content-holder">
                      <div class="event-date">SAT, APR 09 8:00PM</div>
                      <div class="event-title">Afrology Entreprenure Happy hour! - Movers and makers meet for a drink</div>
                      <div class="event-venue">Paladium Nightclub, Dallas, TX</div>
                      <button class="btn-attend">Attend</button>
                      <div class="cover-charge">FREE - $15</div>
                  </div>
              </div>
            </div>
          </div>

          <!--Item-Start-->
          <div class="col-md-12">
              <div class="event-item">
                <div class="row">
                    <div class="col-md-4">
                       <div class="img-holder text-right padding-a1" style="background-image: url(../../../assets/images/3b7138d6e049048cde4588004c4b11b9.jpg)">
                          <div class="wht-box-top">Selling Fast</div>
                       </div>
                    </div>
                    <div class="col-md-8 content-holder">
                        <div class="event-date">SAT, APR 09 8:00PM</div>
                        <div class="event-title">Afrology Entreprenure Happy hour! - Movers and makers meet for a drink</div>
                        <div class="event-venue">Paladium Nightclub, Dallas, TX</div>
                        <button class="btn-attend">Attend</button>
                        <div class="cover-charge">FREE - $15</div>
                    </div>
                </div>
              </div>
            </div>

            <!--Item-Start-->
          <div class="col-md-12">
              <div class="event-item">
                <div class="row">
                    <div class="col-md-4">
                       <div class="img-holder text-right padding-a1" style="background-image: url(../../../assets/images/64e81f182273d55459a57b60eed07265.jpg)">
                          <div class="wht-box-top">Selling Fast</div>
                       </div>
                    </div>
                    <div class="col-md-8 content-holder">
                        <div class="event-date">SAT, APR 09 8:00PM</div>
                        <div class="event-title">Afrology Entreprenure Happy hour! - Movers and makers meet for a drink</div>
                        <div class="event-venue">Paladium Nightclub, Dallas, TX</div>
                        <button class="btn-attend">Attend</button>
                        <div class="cover-charge">FREE - $15</div>
                    </div>
                </div>
              </div>
            </div>

            <!--Item-Start-->
          <div class="col-md-12">
              <div class="event-item">
                <div class="row">
                    <div class="col-md-4">
                       <div class="img-holder text-right padding-a1" style="background-image: url(../../../assets/images/b61055da902434010fa1fb04baaee7f0.jpg)">
                          <div class="wht-box-top">Selling Fast</div>
                       </div>
                    </div>
                    <div class="col-md-8 content-holder">
                        <div class="event-date">SAT, APR 09 8:00PM</div>
                        <div class="event-title">Afrology Entreprenure Happy hour! - Movers and makers meet for a drink</div>
                        <div class="event-venue">Paladium Nightclub, Dallas, TX</div>
                        <button class="btn-attend">Attend</button>
                        <div class="cover-charge">FREE - $15</div>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="ad-holder text-right">
          <h4>ADVERTISMENTS</h4>
          <img src="../../../assets/images/Advert.png" alt="">
        </div>
      </div>
    </div>

  </div>
</section>