<section class="login">
  <div class="row">
    <div class="col-md-4 login-form">

      <div class="row">
        <div class="col-xs-12 text-ceter">
            <h1>Log In</h1>
            
            <div class="form">
                  <ul class="account-links">
                    <li><a href="">Need An Account?</a></li>
                    <li><a routerLink="/signup/do">Create An Account?</a></li>
                  </ul>
                <form #formData="ngForm" (ngSubmit)="login('email', formData.value)">
                  <div *ngIf="error" class="error">
                      Login credentials are not verified. Here is the error: {{ error }}
                  </div>
                  <div class="loading" *ngIf="dataLoading">
                    loading
                  </div>
                  <div class="form-group">
                    <input type="password" placeholder="app password" name="password" #password="ngModel" ngModel
                    minlength="5" maxlength="30"  class="form-control"  required>

                    <div class="password-error" *ngIf="password.invalid && (password.dirty || password.touched)">
                      <div class="error" *ngIf="password.errors['required']">Password is Required.</div>
                      <div class="error" *ngIf="password.errors['minlength']">Password can't be less than 5 characters.</div>
                      <div class="error" *ngIf="password.errors['maxlength']">Password can't be more than 30 characters.</div>
                    </div>


                    <input  name="email" #email="ngModel" ngModel required email type="email" class="form-control" placeholder="Email Address" required>
                    <div class="email-error" *ngIf="email.invalid && (email.dirty || email.touched)">
                        Please enter a valid email.
                    </div>
                    <button type="submit" [disabled]="!formData.valid" class="btn btn-dark">Log In</button>
                </div>
                </form>

                <hr>

                
                <ul class="account-links">
                    <li><a href="">Forget username?</a></li>
                    <li><a href="">Forget password?</a></li>
                </ul>

                <p>©2018 All Rights Reserved. Afrologyx® is a registered trademark of Synergytecq. Cookie Preferences, Privacy, and Terms.</p>
            </div>
        </div>
      </div>

    </div>
    <div class="col-md-8 cover-wrapper hidden-sm hidden-xs">
      <div class="cover-img">
          <div class="wht-outline-box">
              <img src="../../../assets/images/Afrologyx-lg.png" alt="">
              <p>The Dfw African Community Upscale Club with perks!</p>
              <p><a href="">Tell me more!</a></p>
          </div>
      </div>
    </div>
  </div>
</section>