<section class="login">
  <div class="row">
    <div class="col-md-4 login-form">

      <div class="row">
        <div class="col-xs-12 text-ceter">
            <h1>Log In</h1>
            
            <div class="form">
                  <ul class="account-links">
                    <li><a href="">Need An Account?</a></li>
                    <li><a href="">Create An Account?</a></li>
                  </ul>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" required>
                    <input type="text" class="form-control" placeholder="Email Address" required>
                    <button class="btn btn-dark">Log In</button>
                </div>

                <ul class="account-links">
                    <li><a href="">Forget username?</a></li>
                    <li><a href="">Forget password?</a></li>
                </ul>

                <p>©2018 All Rights Reserved. Afrologyx® is a registered trademark of Synergytecq. Cookie Preferences, Privacy, and Terms.</p>
            </div>
        </div>
      </div>

    </div>
    <div class="col-md-8 cover-wrapper hidden-sm hidden-xs">
      <div class="cover-img">
          <div class="wht-outline-box">
              <img src="../../../assets/images/Afrologyx-lg.png" alt="">
              <p>The Dfw African Community Upscale Club with perks!</p>
              <p><a href="">Tell me more!</a></p>
          </div>
      </div>
    </div>
  </div>
</section>