<section class="subscribe-mod">
  <div class="container">
    <div class="subscribe-box">
      <div class="row">
        <div class="col-md-12">
          <p class="heading-a1">SUBSCRIBE</p>
          <p class="sub-heading">Sign up with your email address to receive news and updates.</p>
        </div>

        <div class="col-md-10 col-md-offset-1 form-holder">
          <div class="row">
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="FIRST NAME">
            </div>
    
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="LAST NAME">
            </div>
    
            <div class="col-md-3">
              <input type="text" class="form-control" placeholder="EMAIL ADDRESS">
            </div>
    
            <div class="col-md-3">
              <button type="button" class="btn btn-primary adjust-position btn-block">SIGN UP</button>
            </div>
          </div>
        </div>

        

        <div class="col-md-12">
          <p class="privacy">We respect your privacy.</p>
        </div>

      </div>
    </div>
  </div>
</section>