<section class="main-hero">
    <app-header></app-header>
    <div class="container">
        <div class="header-text">
                <div class="col-md-6 holder-1a hidden-xs">
                    <h1>Afrologyx provides Upscale events and lifestyle perks for DFW Afrodiasporians</h1>
                    <div class="hero-content">
                        <p>Join the exclusive social group of Dallas Afrodiasporians who enjoy the higher standard in nightlife  & entertainment.</p>
                        <p>We offer an alternative to the usual weekly club cycles. A social experience for the Affluent African with a zest for life.</p>
                    </div>
                </div>

                <div class="col-md-6 holder-2a visible-xs text-center">
                        <h1>Afrologyx provides Upscale events for DFW Afrodiasporians</h1>
                        <div class="hero-content">
                            <p>Join the exclusive social group of Dallas Afrodiasporians who enjoy the higher standard in nightlife  & entertainment.</p>
                            <p>We offer an alternative to the usual weekly club cycles. A social experience for the Affluent African with a zest for life.</p>
                        </div>
                    </div>

                <div class="col-md-6">
                    <h2>CLAIM YOUR EXCLUSIVE MEMBERSHIP TODAY!</h2>
                    <h5>Membership to Afrology is limited, sign up today and join our growing list of Afrologians [500+Members and growing.]</h5>
                    <input type="text" class="form-control" placeholder="First Name" required>
                    <input type="text" class="form-control" placeholder="Last Name" required>
                    <input type="text" class="form-control" placeholder="Email Address" required>
                    <input type="text" class="form-control" placeholder="Instagram Address" required>
                    <label class="container tac">
                            <input class="" type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                            I Accept the Terms & Conditions and Privacy Policy
                    </label>
                   
                    <button class="btn">JOIN AFROLOGYX</button>
                    <p class="respect">WE RESPECT YOUR PRIVACY!</p>
                </div>
        </div>
        
    </div>
    
</section>