<section class="expect">
  <div class="container">
    <div class="col-xs-12 text-center">
      <h2>What to Expect</h2>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="item text-center">
        <div class="dash text-center"></div>
          Access to exclusive
          invite-only Upscale celebrity hosted African events I.E Comedy Shows, Concerts, Galas.
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="item">
            <div class="dash text-center"></div>
          A Once a month social experiences with the best international DJs from around the world.
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="item">
            <div class="dash text-center"></div>
            Meet and network with entrepreneur, Founders, Social media Influencers, Creatives, and the most Affluent Africans in the DFW metroplex.
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="item">
            <div class="dash text-center"></div>
            Our Commitment to soliciting only the most Upscale venues for our events.
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="item">
            <div class="dash text-center"></div>
            A strictly enforced dress code at all events to ensure premium experiences, all agents are required to wear a blazer/dress shoes and ladies in cocktail attire.
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
        <div class="item">
            <div class="dash text-center"></div>
            A strictly enforced dress code at all events to ensure premium experiences, all agents are required to wear a blazer/dress shoes and ladies in cocktail attire.
        </div>
    </div>
<br>
<br>
    <div class="col-xs-12 text-center">
        <button class="btn btn-default btn-custom-short">JOIN THE CLUB</button>
    </div>

  </div>
</section>