<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="social-holder text-center">
          <a href=""><img src="../../../assets/images/instagram.png" alt=""></a>
          <a href=""><img src="../../../assets/images/facebook.png" alt=""></a>
          <a href=""><img src="../../../assets/images/twitter.png" alt=""></a>
        </div>
      </div>

      <div class="col-md-12">
        <div class="footer-menu">
          <ul>
            <li><a href="">ABOUT</a></li>
            <li><a href="">CONTACT</a></li>
            <li><a href="">PRIVACY</a></li>
            <li><a href="">JOBS</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-12 text-center">
        <p class="copywrite"> © 2018 WWW.BYPATRICKSTEPHENS.COM</p>
      </div>

      <div class="col-md-10 col-md-offset-1">
        <p class="footer-text">
            Patrick Stephen is a recognized event production leader and marketing innovator, My mission is to provide exceptional <br> creative services to help guide the African brand to its full potential.
        </p>
      </div>
    </div>
  </div>

</section>